<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "photo_of_me.jpg" %>
	</div>

	<div id="content">
		<h1>Hey I'm Will</h1>
		<p>This is a test about page.</p>
		<p>Thanks for coming out.</p>
	</div>

</div>