<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "photo_of_me.jpg" %>
	</div>

	<div id="content">
		<h1>Hi, I'm Will</h1>
		
		<p>I think a lot about technology and building businesses. Some of <%= link_to "my thoughts", notes_path %> are on this site.</p>
		
		<p>I like to <a href="http://www.mapmyrun.com/profile/27631414/#activity_feed" target="_blank">run and bike</a> and I <a href="https://www.goodreads.com/user/show/13455284-will" target="_blank">read a lot</a>.</p>
		
		<p>I'm currently helping build <a href="https://www.justworks.com" target="_blank">Justworks</a> (<a href="https://justworks.com/careers" target="_blank">we're hiring</a>).</p>

		<p>Say hello <a href="mailto:info@willyoung.me" target="_blank">here</a>.</p>

	</div>

</div>